<h1>Welcome to the pages controller</h1>
<%= link_to "About", about_path%>
<p>This is the home page for this blog app where we don't talk about anything</p>
<p>This is a list of things we don't write about here</p>
<ul>
  <li>Sports</li>
  <li>Politics</li>
  <li>News</li>
  <li>Exciting things</li>
</ul> 